<% layout('layout') -%>

<section id='angular'>
    <h1 id="ang_logo"><img src="/images/AngularJS.png" alt="AngularJS"/></h1>
    <h2>Супер-героический фреймворк для веб-приложений!</h2>
    <p>
        <ul>
            <li>
                <a href="https://github.com/angular/angular.js">
                    Ссылка на исходники.
                </a>
            </li>
            <li>
                <a href="https://github.com/angular/angular.js/archive/master.zip">
                    Ссылка на скачивание.
                </a>
            </li>
            <li>
                <a href="http://docs.angularjs.org/api/">
                    Официальная документация.
                </a>
            </li>
        </ul>
    </p>
    <h3>Почему AngularJS?</h3>
    <p>
        HTML отлично подходит для описания статичных
        документов, но спотыкается при попытке описать
        динамические виды в веб-приложениях. AngularJS
        позволяет расширить синтаксис HTML. В результате
        код получается выразительным, читаемым, и легко
        поддерживается.
    </p>
    <h3>Альтернативы</h3>
    <p>
        Другие фреймворки обходят недостатки HTML либо
        абстрагируясь от HTML, CSS, и/или JavaScript,
        либо навязывая обязательные инструменты для
        манипулирования DOM. Ни один из этих способов
        ни устраняет суть проблемы, а именно то, что HTML
        не предназначен для динамических приложений.
    </p>
    <h3>Расширяемость</h3>
    <p>
        AngularJS — это набор инструментов для построения
        фреймворка, наиболее подходящего для создания
        веб-приложения. Он расширяем и отлично взаимодействует
        с другими библиотеками. Любая особенность может быть
        изменена или заменена в соответствии с уникальным
        путем развития и потребностями вашего приложения.
        Читайте далее, чтобы узнать как.
    </p>
    <footer>
        <p class='source'>
            Источник статьи: <a href="http://angular.ru/">Angular.RUS</a>
        </p>
    </footer>
</section>
