<% layout('layout') -%>
<section id='angular'>
    <h1 id="head"><img src="/images/backbone.png" alt="backbone"/></h1>
    <p>
    <ul>
        <li>
            <a href="http://github.com/jashkenas/backbone">
                Ссылка на исходники.
            </a>
        </li>
        <li>
            <a href="http://backbonejs.ru/backbone-min.js">
                Ссылка на скачивание.
            </a>
        </li>
        <li>
            <a href="http://docs.angularjs.org/api/">
                Официальная документация.
            </a>
        </li>
    </ul>
    </p>
    <h3>Введение</h3>
    <p>
        При работе с веб-приложением, которое включает в себя
        много JavaScript, первое, чему вы научитесь — это
        перестать связывать ваши данные с DOM, потому что это
        подходит только для создания простых JavaScript
        приложений, которые в конечном итоге выглядят, как
        запутанные груды jQuery-селекторов и коллбэков, которые
        отчаянно пытаются хранить актуализированные данные в UI,
        JavaScript логике и базе данных на сервере. Для сложных
        клиентских приложений часто бывает полезным более
        структурированный подход.
    </p>
    <h3>Примеры использования</h3>
    <h4>DocumentCloud</h4>
    <p>
        Рабочее пространство DocumentCloud построено на
        Backbone.js, и Документы, Проекты, Заметки, и Счета
        — все являются моделями и коллекциями Backbone. Если
        вам интересна история — и Underscore.js и Backbone.js
        были изначально извлечены из кода DocumentCloud codebase,
        и упакованы, как самостоятельные JS-библиотеки.
    </p>
    <img src="/images/dc-workspace.png" alt=""/>
    <h4>LinkedIn Mobile</h4>
    <p>
        LinkedIn использует Backbone.js, чтобы создать их HTML5
        мобильное веб-приложение следующего поколения. С Backbone
        просто сохранять приложение модульным, организованным и
        расширяемым, что сделало возможно запрограммировать
        сложности UX LinkedIn. Приложение так же использует Zepto,
        Underscore.js, SASS, iScroll, localStorage и сanvas.
    </p>
    <img src="/images/linkedin-mobile.png" alt=""/>
    <h4>Khan Academy</h4>
    <p>
        Khan Academy выполняет миссию предоставления бесплатного
        образования мирового уровня всем и везде. С тысячью видео,
        сотнями работающих на JS упражнений, и большими планами на
        будущее, Khan Academy использует Backbone, чтобы хранить
        фронтенд-код модульным и организованным. Профили 
        пользователей и установка целей рализованы с помощью 
        Backbone, jQuery и Handlebars, и большая часть работы по 
        новым фичам сдвигается на клиентскую сторону, сильно 
        увеличивая качество API.
    </p>
    <img src="/images/khan-academy.png" alt=""/>
    <footer>
        <p class='source'>
            Источник статьи: <a href="http://backbone.ru/">BACKBONE.JS.RU</a>
        </p>
    </footer>
</section>