<% layout('layout') -%>
<section id='angular'>
    <h1 id="ejs_logo">EJS</h1>
    <h3>Введение</h3>
    <p>
        <b>EJS</b> - это шаблонизатор для платформы Node.js.
        Его плюсами являются простота в использовании и простая
        интеграция с модулем Express для Node.js. Минусами этого
        шаблонизатора заключется в его малой функциональности и
        отсутствии официального поставщика. В npm у него есть две
        реализации от разных разработчиков. Малая функциональность
        часто бывает компенсирована за счет дороботок из Express.
    </p>
    <h3>Быстрый старт</h3>
    <p>
        Для быстрого начала работы с EJS предполагается, что Вы уже
        знаете основы Node.js. Настройка в Express зависит от версии
        самого експресса, так что перейдем к самим шаблонам.
    </p>
    <p>
        Для начала, знать что код в EJS-шаблоны вставляется при
        помощи специальных тегов. Их три:
    </p>
    <code>
        &lt;&#37; /* awesome code */ &#37;&gt; // небуферизуемый код<br/>
        &lt;&#37;= /* awesome code */ &#37;&gt; // экранирование HTML<br/>
        &lt;&#37;- /* awesome code */ &#37;&gt; // без экранирования,
        с буферизацией<br/>
    </code>
    <p>
        В эти теги мы и будем добавлять наш JavaScript-код. Например:
    </p>
     <code>
         &lt;&#37; if(todos.attr('length') > 0) { &#37;&gt;
         <div>You have no to-dos.</div>
         &lt;&#37; } else { &#37;&gt;
         <ul>
             &lt;&#37; todos.each(function(todo) { &#37;&gt;
             <li>&lt;&#37;= todo.attr('description') &#37;&gt;</li>
             &lt;&#37; }); &#37;&gt;
         </ul>
         &lt;&#37; } %>
     </code>
    <!--<footer>-->
        <!--<p class='source'>-->
            <!--Источник статьи: <a href="http://backbone.ru/">BACKBONE.JS.RU</a>-->
        <!--</p>-->
    <!--</footer>-->
</section>