<% layout('layout') -%>
<section id='angular'>
    <h1 id="jade_logo"><img src="/images/jade.png" alt="jade"/></h1>
    <p>
    <ul>
        <li>
            <a href="http://jade-lang.com/">
                Официальный сайт.
            </a>
        </li>
        <li>
            <a href="http://jade-lang.com/api/">
                Официальная документация.
            </a>
        </li>
    </ul>
    </p>
    <h3>Введение</h3>
    <p>
        Jade - это высокопроизводительный шаблонизатор,
        источником вдохновенья для создания которого
        послужил Haml.
    </p>
    <p>Jade реализован на JavaScript для node.</p>
    <h3>Возможности</h3>
        <ul>
            <li>работает на клиентской стороне</li>
            <li>отличная читабельность</li>
            <li>гибкая система отступов</li>
            <li>раскрытие блоков</li>
            <li>примеси</li>
            <li>статические инклюды</li>
            <li>интерполяция в аттрибутах</li>
            <li>из соображений безопасности по умолчанию все экранируется</li>
            <li>контекстные сообщения об ошибках как во время компиляции так и во время выполнения</li>
            <li>утилита для компиляции jade в html из командной строки</li>
            <li>режим HTML5 (используйте doctype !!! 5)</li>
            <li>кеширование в памяти (опционально)</li>
            <li>комбинирование динамических и статических CSS-классов</li>
            <li>манипуляции с деревом парсинга через filters</li>
            <li>поддержка Express JS “из коробки”</li>
            <li>прозрачный механизм итерации по объектам, массивам, и даже неисчислимым типам через each</li>
            <li>блочные комментарии</li>
            <li>фильтры AST</li>
            <li>
                фильтры
                <ul>
                    <li>:sass - нужно установить sass.js</li>
                    <li>:less - нужно установить less.js</li>
                    <li>:markdown - нужно установить markdown-js или node-discount</li>
                    <li>:cdata</li>
                    <li>:coffeescript - нужно установить coffee-script</li>
                </ul>
            </li>
            <li>подсветка синтаксиса для Vim</li>
            <li>TextMate Bundle</li>
            <li>скринкасты</li>
            <li>html2jade конвертер</li>

        </ul>
    <footer>
        <p class='source'>
            Источник статьи: <a href="http://jsman.ru/jade/">jsman.ru</a>
        </p>
    </footer>
</section>