<% layout('layout') -%>
<section id='angular'>
    <h1 id="jquery_logo"><img src="/images/jquery.png" alt="backbone"/></h1>
    <h2>Такой JavaScript Вы полюбите.</h2>
    <p>
    <ul>
        <li>
            <a href="http://jquery.com">
                Официальный сайт.
            </a>
        </li>
        <li>
            <a href="http://code.jquery.com/jquery-2.0.3.min.js">
                Ссылка на скачивание.
            </a>
        </li>
        <li>
            <a href="http://api.jquery.com/">
                Официальная документация.
            </a>
        </li>
    </ul>
    </p>
    <h3>Введение</h3>
    <p>
        jQuery — библиотека JavaScript, фокусирующаяся на
        взаимодействии JavaScript и HTML. Библиотека jQuery
        помогает легко получать доступ к любому элементу DOM,
        обращаться к атрибутам и содержимому элементов DOM,
        манипулировать ими. Также библиотека jQuery предоставляет
        удобный API для работы с AJAX.
    </p>
    <h3>Возможности</h3>
    <p>
        <ul>
            <li>
                Движок кроссбраузерных CSS-селекторов Sizzle,
                выделившийся в отдельный проект;
            </li>
            <li>
                Переход по дереву DOM, включая поддержку XPath
                как плагина;
            </li>
            <li>События;</li>
            <li>Визуальные эффекты;</li>
            <li>AJAX-дополнения;</li>
            <li>JavaScript-плагины.</li>
        </ul>
    </p>
    <h3>Философия</h3>
    <p>
        Точно так же, как CSS отделяет визуализацию от структуры
        HTML, JQuery отделяет поведение от структуры HTML. Например,
        вместо прямого указания на обработчик события нажатия
        кнопки управление передаётся JQuery, которая идентифицирует
        кнопки и затем преобразовывает его в обработчик события
        клика. Такое разделение поведения и структуры также
        называется принципом ненавязчивого JavaScript.
    </p>
    <p>
        Библиотека jQuery содержит функциональность, полезную для
        максимально широкого круга задач. Тем не менее,
        разработчиками библиотеки не ставилась задача совмещения
        в jQuery функций, которые подошли бы всюду, поскольку это
        привело бы к большому коду, бо́льшая часть которого
        не востребована. Поэтому была реализована архитектура
        компактного универсального ядра библиотеки и плагинов.
        Это позволяет собрать для ресурса именно ту JavaScript-
        функциональность, которая на нём была бы востребована.
    </p>
    <footer>
        <p class='source'>
            Источник статьи: <a href="http://ru.wikipedia.org/wiki/JQuery">Wikipedia</a>
        </p>
    </footer>
</section>