<% layout('layout') -%>
<section id='angular'>
    <h1 id="jquery_logo"><img src="/images/knockout.png" alt="Knockout"/></h1>
    <p>
    <ul>
        <li>
            <a href="http://knockoutjs.com/">
                Официальный сайт.
            </a>
        </li>
        <li>
            <a href="http://knockoutjs.com/downloads/knockout-3.0.0.js">
                Ссылка на скачивание.
            </a>
        </li>
        <li>
            <a href="http://knockoutjs.com/documentation/introduction.html">
                Официальная документация.
            </a>
        </li>
    </ul>
    </p>
    <h3>Зачем нужен Knockout.js?</h3>
    <p>
        <ul>
            <li>
                <p>
                    Иметь возможность легко наполнять интерфейс
                    данными из json-подобного объекта (модели):
                </p>
                <code>
                    var ViewModel = {<br/>
                    attribute1: ”Hello”,<br/>
                    attribute2: ”world!”,<br/>
                    };
                </code>
                <p>Верстка:</p>
                <code>
                    &lt;div><br/>
                        &lt;span data-bind=”text: attribute1”>&lt;/span><br/>
                        &lt;span data-bind=”text: attribute2”>&lt;/span><br/>
                    &lt;/div>
                </code>
                <p>Привязка:</p>
                <code>ko.applyBindings( ViewModel );</code>
                <p>Результат:</p>
                <code>
                    &lt;div><br/>
                        &lt;span data-bind=”text: attribute1”>Hello&lt;/span><br/>
                        &lt;span data-bind=”text: attribute2”>world!&lt;/span><br/>
                    &lt;/div>
                </code>
                <p>
                    Но такая привязка чаще всего не используется,
                    ведь при изменении модели не изменяется DOM
                    и наоборот.
                </p>
            </li>
            <li>
                <p>
                    Создавать двустороннюю наблюдаемую (observable)
                    привязку интерфейса и модели, т.е. в реальном
                    времени будет обновляться интерфейс при
                    изменении модели, а модель при изменении в
                    интерфейсе (рабочий пример при вводе текста
                    в формах). Тут есть один нюанс, в input полях
                    обновление модели произойдёт только при событии
                    onblur (убрать фокус с элемента), данную
                    ситуацию можно исправить, подписавшись на событие
                    input, соответственно вручную обновлять модель.
                    Пример на jsfiddle. Пользователь m_z предложил
                    более удобный вариант обновления модели с
                    использованием valueUpdate: 'input' (Пример).
                </p>
            </li>
            <li>
                <p>
                    Дополнительно подписываться на изменения модели.
                    Код из документации:
                </p>
                <code>
                    myViewModel.personName.subscribe(function(newValue) {<br/>
                        alert("Новое имя: " + newValue);<br/>
                    });
                </code>
                <p>Отписываемся от изменений:</p>
                <code>
                    var subscription = myViewModel.personName.
                    subscribe(function(newValue) { /* что-то делаем */ });<br/>
                    // ...чуть позже...<br/>
                    subscription.dispose(); // Отменяем подписку.
                </code>
            </li>
        </ul>
    </p>
    <footer>
        <p class='source'>
            Источник статьи: <a href="http://habrahabr.ru/post/164937/">Habrahabr</a>
        </p>
    </footer>
</section>