<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html;charset=UTF-8' />
        <!--[if lt IE 9]>
        <script src='/js/html5shiv.js'></script>
        <![endif]-->
        <!--[if (gte IE 5.5)&(lte IE 8)]>
        <script type='text/javascript' src='/js/DOMAssistantCompressed-2.8.1.js'></script>
        <script type='text/javascript' src='/js/selectivizr-min.js'></script>
        <![]endif-->
        <script src='/js/jquery.min.js'></script>
        <script src='/js/scripts.js'></script>
        <script src='/js/slider.js'></script>

        <title><%= title %></title>
        <link rel='stylesheet' href='/css/style.css' />
        <link rel="stylesheet" href="/css/slider.css"/>
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    </head>
    <body>
        <header id='header'>
            <nav id="nav_pane">
                <ul class='main-menu'>
                    <li><p class='logo'>JavaScript in web</p></li>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/node">JS на сервере</a></li>
                    <li data-num='_0'>
                        <a href="/template">Шаблоны</a>
                        <ul class='sub-menu'>
                            <li><a href="/template/ejs">EJS</a></li>
                            <li><a href="/template/jade">Jade</a></li>
                            <li><a href="/template/smarty">Smarty JS</a></li>
                        </ul>
                    </li>
                    <li data-num='_1'>
                        <a href="/mvc">MVC на JS</a>
                        <ul class='sub-menu'>
                            <li><a href="/mvc/angular">AngularJS</a></li>
                            <li><a href="/mvc/backbone">Backbone.js</a></li>
                            <li><a href="/mvc/knockout">Knockout</a></li>
                        </ul>
                    </li>
                    <li data-num='_2'>
                        <a href="/others">JS Frameworks</a>
                        <ul class='sub-menu'>
                            <li><a href="/others/jquery">jQuery</a></li>
                            <li><a href="/others/prototype">Prototype</a></li>
                        </ul>
                    </li>
                    <li><a href="/rating">Дать оценку</a></li>
                </ul>
            </nav>
        </header>
        <section id='main_frame'>
            <%- body %>
        </section>
        <footer id='footer'>
            <p>2013 &copy; Petrunkin Oleg.</p>
        </footer>
    </body>
</html>