<% layout('layout') -%>
<div id="main_page">
    <h1>JavaScript в разработке web-приложений.</h1>
    <p>
        <b>JavaScript</b> – современный язык программирования, который
        постепенно завоевывает популярность среди web-разработчиков.
        В данной курсовой работе я хочу познакомить Вас с самыми
        используемыми библиотеками и разработками для улучшения
        жизни web-разработчиков и не только.
    </p>
    <p>
        Раньше у меня было слишком предвзятое отношение к этому
        языку, и я старался минимизировать его использование на
        деле. JavaScript пугал меня своей «добротой» в отношении
        типизации, слабой стандартизацией и запутанностью. Поэтому,
        во избежание его использования, я подключал библиотеку
        jQuery и работал с ней, как с интерфейсом между мной и JS.
        Это очень сильно упрощало работу, уменьшало количество строк
        кода и придавало ему некую красоту и изящество. Но с другой
        стороны, это отбило у меня всякое желание изучения самого
        JavaScript’а.
    </p>
    <p>
        Но вот настал тот день, когда я услышал о совершенно ином
        примере использования JS. Это была серверная реализация
        JavaScript – Node.js. Меня искренне порадовала эта платформа,
        так как она позволяла работать на серверной стороне на гораздо
        низком уровне, нежели тот же php. Так же понравились выводы
        после сравнения быстродействия back-end’а с использованием
        Node. Таким образом, я вернулся к изучению JavaScript, а
        также познакомился с несколькими другими решениями типичных
        для web-разработчика задач. Этим же я и хочу поделиться в своей
        курсовой работе по предмету “Web-технологии”.
    </p>
    <h2>Так о чём же этот сайт?</h2>
    <p>
        На самом деле этот сайт не столько о JavaScript, сколько о различных
        его библиотеках и решениях, позволяющих получить максимум от этого
        языка.
    </p>
    <p>
        В конечном счете этот сайт познакомит Вас со следующими технологиями:
    </p>
</div>
<ul id='wrapper_slider'>
            <li>
                <h1>JS Шаблонизаторы</h1>
                <div class='slider'>
                    <div>
                        <ul data-current='0'>
                            <li id="ejs">
                                <h2>EJS</h2>
                                <section>
                                    <h3>Описание.</h3>
                                    <p>
                                        EJS очищает HTML от вашего JavaScript
                                        с помощью шаблонов. EJS - отличный инструмент
                                        для сохранения чистоты разметки.
                                    </p>
                                    <a href="/template/ejs">Подробности...</a>
                                </section>
                            </li>
                            <li id="jade">
                                <img src="/images/jade.png" alt="Jade"/>
                                <section>
                                    <h3>Jade -</h3>
                                    <p>
                                        это высокопроизводительный шаблонизатор,
                                        источником вдохновенья для создания которого
                                        послужил Haml.
                                    </p>
                                    <a href="/template/jade">Подробности...</a>
                                </section>
                            </li>
                            <li id="smarty">
                                <img src="/images/nodesmarty.png" alt="NodeSmarty""/>
                                <section>
                                    <h3>Smarty для node.js</h3>
                                    <p>
                                        Автор NODE Smarty поставил перед собой задачу
                                        реализовать знаменитый шаблонизатор Smarty для
                                        платформы node.js
                                    </p>
                                    <a href="/template/smarty">Подробности...</a>
                                </section>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <h1>MVC фреймворки</h1>
                <div class='slider'>
                    <div>
                        <ul data-current='0'>
                            <li id="ang">
                                <a href="/mvc/angular">
                                    <img src="/images/AngularJS.png" alt="AngularJS"/>
                                </a>
                                <section>
                                    <p>
                                        Супер-героический фреймворк для веб-приложений!
                                    </p>
                                </section>
                            </li>
                            <li id="backbone">
                                <a href="/mvc/backbone">
                                    <img src="/images/backbone.png" alt="backbone"/>
                                </a>
                                <section>
                                    <p>
                                        Никогда не забывайте разделять логику и
                                        представление...
                                    </p>
                                </section>
                            </li>
                            <li id="knockout">
                                <a href="/mvc/knockout">
                                    <img src="/images/knockout.png" alt="Knockout"/>
                                </a>
                                <section>
                                    <p>
                                        Работа с интеграцией данных и их отображения
                                        становится проще.
                                    </p>
                                </section>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <h1>JS фреймворки</h1>
                <div class='slider'>
                    <div>
                        <ul data-current='0'>
                            <li id="jq">
                                <a href="/others/jquery">
                                    <img src="/images/jquery.png" alt="AngularJS"/>
                                </a>
                                <section>
                                    <p>
                                        Такой JavaScript Вы точно полюбите.
                                    </p>
                                </section>
                            </li>
                            <li id="prototype">
                                <a href="/others/prototype">
                                    Prototype
                                </a>
                                <section>
                                    <p>
                                        - JavaScript фреймворк, упрощающий работу
                                        с AJAX и некоторыми другими функциями.
                                    </p>
                                </section>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
</ul>