<% layout('layout') -%>
<section id='angular'>
    <h1 id="jquery_logo"><img src="/images/nodejs.png" alt="nodejs"/></h1>
    <h2>JavaScript на сервере.</h2>
    <p>
    <ul>
        <li>
            <a href="http://nodejs.org/">
                Официальный сайт.
            </a>
        </li>
        <li>
            <a href="http://nodejs.org/download/">
                Ссылка на скачивание.
            </a>
        </li>
        <li>
            <a href="http://nodejs.org/api//">
                Официальная документация.
            </a>
        </li>
    </ul>
    </p>
    <p>
        Совсем недавно я с принебрежением относился к различным
        библиотекам и фреймворкам на JavaScript. Чего вообще
        можно ждать от такого запутаного и немного странного
        скриптового языка программирования? А когда я узнал,
        что его начали использовать и на серверной стороне, то
        подумал, что мир сошел с ума. К тому времени я уже
        перестал искать простые пути решения различных задач
        back-end, так как понял, что php слишком нерасторопен
        по производительности и как язык программирования не
        очень привлекательный, а Java и Ruby on Rails являются
        слишком избыточными в функциональном плане, что является
        огромной помехой для лёгких приложений.
    </p>
    <p>
        Вот на таком перепутье я и встретился в-плотную с Node.js.
        Вначале пришлось, конечно, не сладко, так как JS я жутко
        не любил, а когда в нем нуждался, использовал jQuery, так
        что пришлось его изучать сначала. В итоге, Node.js буквально
        заставил меня полюбить JavaScript. Но эта статья не о JavaScript,
        а о ноде, так что перейдем к делу.
    </p>
    <h3>Быстрый старт.</h3>
    <p>
        Есть много литературы и ресурсов в интернете, которые помогут
        Вам быстро освоить эту платформу, но небольшой экскурс я
        всё-таки проведу.
    </p>
    <p>
        Для начала надо скачать сам нод, для этого Вам надо только
        скачать установочные файлы для Windows или Mac, или установить
        его через apt, если Вы пользуетесь Linux/Unix. Сейчас Node.js
        доступен для всех основных операционных систем, поэтому и его
        установка не вызовет труда. После этого для Вашего же удобства
        стоит добавить путь к исполняемому файлу node.js к значению
        переменной среды path. После этого Вы сможете использовать
        нод по полной.
    </p>
    <p>
        Для того, чтобы работать с node в интерактивном режиме( как в
        javascript-консоли браузера) вызовите в командной строке node:
    </p>
    <code class='bash'>
        user@example ~/ $ node<br/> >
    </code>
    <p>
        Но интерактивный режим Вам понадобиться только для обучения или
        озорства. Нод же позволяет пользователю создавать свои скрипты,
        точно так же, как php, Ruby, Python или perl. А для запуска
        скрипта script.js воспользуйтесь следующей командой:
    </p>
    <code class='bash'>
        user@example ~/ $ node script.js<br/>
        Hello, World!
    </code>
    <p>
        Как видите, процесс не сильно-то и отличается от работы с
        каким-либо другим интерпретируемым языком.
    </p>
    <h3>Модули и npm</h3>
    <p>
        К сожалению, ноде по умолчанию не имеет полного функционала
        для работы web-сервера. Поэтому Вам придется разобраться в
        так называемом среднем уровне разработки. Или же найти какой
        -нибудь подходящий для Вашей цели модуль.
    </p>
    <p>
        К нашему с Вами облегчению, ноде обзавелся большой популярностью,
        из-за чего для него уже реализовано большое количество различных
        функций. Для доступа к ним, а также для публикации Ваших
        собственных модулей, существует npm(Node Package Manager).
        Он входит в распространяемый пакет node.js, так что Вам не стоит
        беспокоиться по поводу его поисков.
    </p>
    <h3>Дополнительно.</h3>
    <p>
        Так как эта статья критично мала и не охватывает большей части 
        материалов, я советую воспользоваться следующими ссылками:
    </p>
    <ul>
        <li>
            <a href="http://www.nodebeginner.ru/">
                Хороший туториал по node.js на нескольких языках.
            </a>
        </li>
        <li>
            <a href="http://learn.javascript.ru/nodejs-screencast">
                Скринкаст по node.js
            </a>
        </li>
        <li>
            <a href="http://nodeguide.ru/doc/">
                Руководства по от Felix'a
            </a>
        </li>
    </ul>
    <footer>

    </footer>
</section>