<% layout('layout') -%>

<section id='angular'>
    <h1 id="jade_logo"><img src="/images/prototype.png" alt="Prototype"/></h1>
    <p>
    <ul>
        <li>
            <a href="http://prototypejs.org">
                Официальный сайт.
            </a>
        </li>
        <li>
            <a href="http://prototypejs.org/download">
                Ссылка на скачивание.
            </a>
        </li>
        <li>
            <a href="http://prototypejs.org/learn/">
                Официальная документация и туториалы.
            </a>
        </li>
    </ul>
    </p>
    <h3>Введение</h3>
    <p>
        <b>Prototype</b> — JavaScript фреймворк, упрощающий
        работу с Ajax и некоторыми другими функциями.
        Несмотря на его доступность в виде отдельной
        библиотеки, он обычно используется программистами
        вместе с Ruby on Rails, Tapestry, script.aculo.us и Rico.
    </p>
    <p>
        Заявлено, что данный фреймворк совместим со следующими
        браузерами: Internet Explorer (Windows) 6.0+, Mozilla
        Firefox 1.5+, Apple Safari 2.0.4+ и Opera 9.25+, Google
        Chrome 1.0+. Поддержка данных браузеров подразумевает,
        что фреймворк совместим также с Camino, Konqueror,
        IceWeasel, Netscape 7+, SeaMonkey и др., которые
        принадлежат этим же семействам.
    </p>
    <footer>
        <p class='source'>
            Источник статьи: <a href="http://ru.wikipedia.org/wiki/Prototype_(%D1%84%D1%80%D0%B5%D0%B9%D0%BC%D0%B2%D0%BE%D1%80%D0%BA)">Wikipedia</a>
        </p>
    </footer>
</section>
