<% layout('layout') -%>
<section id='rating'>
    <header id='rating_header'>
        <h1>Курсовая работа</h1>
        <h2>по дисциплине &laquo;Web-технологии&raquo;</h2>
        <h3>
            Выполнил студент группы СП-11:
            <a href='mailto:jeax@ya.ru'>Петрунькин О.</a>
        </h3>
        <h3>Преподаватель: Бузюков Л.Б.</h3>
    </header>
    <section id='rating_content'>
        <div id="mark">
            <a class='marker' data-val='1'>1</a>
            <a class='marker' data-val='2'>2</a>
            <a class='marker' data-val='3'>3</a>
            <a class='marker' data-val='4'>4</a>
            <a class='marker' data-val='5'>5</a>
            <a class='sender' href="/rating">Оценить</a>
            <p>Средняя оценка: <b class='rat'><%= rating %></b></p>
            <p>Проголосовало: <b class='num'><%= count %></b></p>
        </div>
        <p>
            <b>Тема: </b>использование JavaScript-технологий при
            разработке web-приложений.
        </p>
        <p><b>Использованные ресурсы:</b> </p>
        <ul>
            <li>node.js - серверная часть приложения.</li>
            <li>
                JavaScript( с упором на jQuery) - клиентские скрипты.
            </li>
            <li>
                <a href="http://heroku.com">heroku.com</a>
                - хостинг приложения
            </li>
        </ul>
        <p>
            <b><a href="https://github.com/JohnyRotten/Course">
                Исходный код приложения.
            </a></b>
        </p>
        <b>Список литературы:</b>
        <ul>
            <li>
                <a href="http://nodejs.org/api/">Node.js</a> -
                официальная документация по Node.js
            </li>
            <li>
                <a href="http://api.jquery.com/">jQuery</a> -
                официальная документация по jQuery.
            </li>
            <li>
                <a href="http://htmlbook.ru">htmlbook.ru</a> -
                сайт с набором уроков и документацией на русском
                языке по html и css.
            </li>
            <li>
                <a href="http://learn.javascript.ru">javascript.ru</a> -
                интерактивный учебник по JavaScript.
            </li>
        </ul>

    </section>
    <footer id='rating_rating'>
        <p>2013 год.</p>
        <p>
            Санкт-Петербургский государственный
            университет телекоммуникаций им. проф. М.А.
            Бонч-Бруевича.
        </p>
    </footer>
</section>
