<% layout('layout') -%>

<section id='angular'>
    <h1 id="jade_logo"><img src="/images/nodesmarty.png" alt="smarty"/></h1>
    <h2>Smarty для Node.js</h2>
    <p>
    <ul>
        <li>
            <a href="http://nodesmarty.com/">
                Официальный сайт.
            </a>
        </li>
        <li>
            <a href="http://nodesmarty.com/downloads.html">
                Ссылка на скачивание.
            </a>
        </li>
        <li>
            <a href="http://nodesmarty.com/docs.html">
                Официальная документация.
            </a>
        </li>
    </ul>
    </p>
    <h3>Вступление.</h3>
    <p>
        Многие разработчики web-приложений на php знают Smarty.
        К его плюсам относятся простота написания шаблонов и
        простота интеграции с php. Для нода уже существует множество
        различных шаблонизаторов, но не один из них не может
        похвастаться таким сочетанием, как простота и функциональность.
        Сейчас поясню, во многих шаблонизаторах используется свой
        синтаксис шаблонов(например, jade), но это неудобно, так как
        надо и изучить и язык шаблона. В Smarty же такая проблема
        отсутствует, так как используется обычный html со всраиванием
        специальных тегов кода. Также стоит отметить его общую
        функциональность и предкомпиляцию шаблонов, что в разы повышает
        его производительность.
    </p>
    <p>
        Так что же такое Node Smarty? Это попытка реализовать Smarty
        для JavaScript, а в частности для  Node.js. Стоит отметить,
        что проект сейчас находится на фазе разработки, но всё же уже
        вполне рабочий.
    </p>
    <h3>Пример использования</h3>
    <p>
        Для подключения библиотеки в js-файле прописывает:
    </p>
    <code>
        var NodeSmarty = require('./NodeSmarty');<br/><br/>
        var Template = new NodeSmarty();<br/>
    </code>
    <p>Для настройки библиотеки используйте:</p>
    <code>
        var Template = new NodeSmarty({<br/>
        'templateDir':'./templates/',<br/>
        'compileDir':'./compile/',<br/>
        'cacheDir':'./cache/'<br/>
        });<br/>
    </code>
    <p>или</p>
    <code>
        Template<br/>
        .setTemplateDir('./templates/')<br/>
        .setCompileDir('./compile/')<br/>
        .setCacheDir('./cache/');<br/><br/>
    </code>
    <p>или же</p>
    <code>
        Template.setTemplateDir('./templates/');<br/>
        Template.setCompileDir('./compile/');<br/>
        Template.setCacheDir('./cache/');<br/>
    </code>
    <p>Для подключения переменной в шаблон:</p>
    <code>
        Template.assign('Value','first');<br/>
        Template.assign({<br/>
        'Value':'first',<br/>
        'Value2':'second',<br/>
        });<br/><br/>
        Template.assign(Array);<br/>
    </code>
    <p>И для компиляции шаблона используем команду fetch:</p>
    <code>
        var Final = Template.fetch('index.tpl'[, callback]);
    </code>
    <p>или</p>
    <code>
        var Final = Template.fetchSync('index.tpl');
    </code>
    <p>
        Подробнее о работе с Node Smarty Вы можете узнать
        в документации на официальном сайте.
    </p>
</section>
