#wrapper_slider {
    text-align: right;
    list-style: none;
}
#wrapper_slider h1 {
    font-family: cuprum;
    text-decoration: underline;
    margin-right: 40px;
    color: white;
    text-shadow: 0 0 2px black,
                 1px 1px 2px grey,
                 2px 2px 2px grey,
                 3px 3px 2px grey;
}
#wrapper_slider:first-child {
    margin-top: 10px;
}
/* Horizontal slider */
.slider {
    margin: 20px 0;
    width: 100%;
    height: 200px;
    background: rgba(255, 255, 255, 0.3);
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    padding: 20px 100px;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow: hidden;
}
.slider>div {
    width: 740px;
    height: 100%;
    position: relative;
    overflow: hidden;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    margin: 0 auto;
}
.slider ul {
    position: absolute;
    height: 100%;
    list-style: none;
}
.slider ul li {
    display: inline-block;
    width: 740px;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    height: 100%;
    margin: 0;
    float: left;
    position: relative;
}
.slider .prev, .slider .next {
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 4px black;
    font-family: intro;
    font-size: 80px;
    font-weight: bolder;
    cursor: pointer;
    top: 50px;
}
.slider .next:hover, .slider .prev:hover {
    color: white;
}
.slider .prev {
    left: 10px;
}
.slider .next {
    right: 10px;
}
#ejs>* {
    float: left;
}
#ejs h2 {
    font-family: intro;
    font-size: 80px;
    height: 100%;
    line-height: 100%;
    padding: 25px 15px;
    margin-left: 30px;
    border-right: 2px solid black;
}
#ejs section {
    width: 450px;
    padding: 10px 20px;
    font-family: days;
    color: white;
    text-shadow: 2px 2px 3px black;
}
#ejs h3 {
    color: rgba(255, 14, 14, 0.9);
    font-size: 25px;
    margin-bottom: 10px;
}
#ejs a {
    text-decoration: none;
    margin-top: 10px;
    color: white;
    display: block;
}
#smarty>*, #jade>* {
    float: left;
}
#smarty img, #jade img {
    font-family: intro;
    font-size: 80px;
    line-height: 100%;
    padding: 0 15px;
    margin-left: 30px;
    border-right: 2px solid black;
}
#smarty img {
    height: 100%;
}
#jade img {
    height: 116px;
    padding: 20px 15px;
}
#smarty section, #jade section {
    width: 440px;
    padding: 10px 20px;
    font-family: days;
    color: white;
    text-shadow: 2px 2px 3px black;
}
#smarty h3, #jade h3 {
    color: rgba(255, 14, 14, 0.9);
    font-size: 35px;
    margin-bottom: 10px;
    font-family: cuprum;
}
#smarty a, #jade a {
    text-decoration: none;
    margin-top: 10px;
    color: white;
    display: block;
}
#ang {
    text-align: center;
    font-family: cuprum;
    color: #535353;
    font-size: 33px;
}
#backbone {
    text-align: center;
    font-family: sreda;
}
#backbone img {
    margin-bottom: 20px;
    width: 640px;
}
#knockout {
    font-family: lasca;
    font-size: 28px;
    color: white;
    text-shadow: 1px 2px 15px black;
    padding: 5px;
}
#knockout img {
    float: right;
    margin-left: 30px;
    margin-top: 30px;
}
#jq {
    font-family: intro;
    font-style: italic;
    font-size: 30px;
}
#jq section {
    padding: 10px;
    width: 280px;
    text-shadow: 3px 4px 6px white;
}
#jq img {
    position: absolute;
    right: 25px;
    top: 30px;
    width: 350px;

}
#prototype {
    font-family: sumkin;
    text-align: center;
}
#prototype a {
    text-decoration: none;
    color: darkorange;
    text-shadow: 2px 3px 4px black;
    font-size: 40px;
}
#prototype section {
    width: 80%;
    margin: 10px auto;
    padding-top: 20px;
    color: white;
    text-shadow: 1px 2px 4px black;
    font-family: cuprum;
    font-size: 20px;
}