@font-face {
    font-family: bext;
    src: url("/fonts/Bext!.ttf");
}
@font-face {
    font-family: cuprum;
    src: url("/fonts/Cuprum.ttf");
}
@font-face {
    font-family: days;
    src: url("/fonts/Days.ttf");
}
@font-face {
    font-family: intro;
    src: url("/fonts/Intro.otf");
}
@font-face {
    font-family: lasco;
    src: url("/fonts/lasco.ttf");
}
@font-face {
    font-family: bext;
    src: url("/fonts/Bext!.ttf");
}
@font-face {
    font-family: sreda;
    src: url("/fonts/sreda_regular.ttf");
}
@font-face {
    font-family: sumkin;
    src: url("/fonts/Sumkin.otf");
}

* {
    margin: 0;
    padding: 0;
       -moz-user-select: none;
     -khtml-user-select: none;
            user-select: none;
    -webkit-user-select: none;
    cursor: default;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #565656;
}
html {
    height: 100%;
}
body {
    width: 960px;
    margin: 0 auto;
    height: 100%;
    background: linear-gradient(to top, #222, #eee);
    background: -webkit-linear-gradient(to top, #222, #eee);
    background-color: rgba(144, 144, 144, 0.5);
    background-attachment: fixed;
    color: #535353;
}
#footer, #header, #main_frame {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(144, 144, 144);
    box-shadow: 0 0 14px black;
    z-index: 20;
}
#main_frame {
    background: #ccc;
    box-shadow: 0 0 36px black;
    padding: 50px 10px;
    top: 0;
    bottom: 0;
    background-attachment: fixed;
}
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 10px;
    width: 100%;
    background: rgb(144, 144, 144);
    box-shadow: 0 0 14px black;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-family: cuprum;
}

.logo {
    font-family: lasco;
    cursor: default;
    padding: 10px 80px 10px 30px;
    color: #eee;
    text-shadow:    1px 1px 2px #333,
                    2px 2px 2px #333,
                    3px 3px 2px #333,
                    4px 4px 2px #333,
                    5px 5px 2px #333,
                    6px 6px 2px #333,
                    7px 7px 2px #333;

}

.main-menu, .main-menu * {
    z-index: 10;
}
.main-menu {
    width: 960px;
    margin: 0 auto;
    list-style: none;
    font-family: cuprum;
}
.main-menu>li.active {
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 6px black inset;
}
.main-menu a:hover {
    text-shadow: 0 0 16px blue;
}
.main-menu>li {
    display: inline-block;
    position: relative;
}
.main-menu a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    text-shadow: 1px 2px 4px black;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
.sub-menu {
    display: none;
    position: absolute;
    width: 100%;
    left: 0px;
    border-radius: 0 0 10px 10px;
    padding: 0;
    margin: 0;
    list-style: none;
    background: rgb(144, 144, 144);
    z-index: 12;
}
.active .sub-menu {
    box-shadow: 0 0 6px black inset;
}
.main-menu .sub-menu a{
}

#head {
    position: relative;
    text-align: center;
    margin: 10px auto;
}
#rating {
    padding: 20px;
    font-family: cuprum;
}
#rating_header h1 {
    font-size: 30px;
}
#rating_header h2 {
    margin: 20px 0;
}
#rating_header h1, #rating_header h2 {
    text-align: center;
    text-shadow: 0 0 6px white;
}
#rating_header h3 {
    text-align: right;
    font-weight: bold;
    margin-right: 20px;
}

#rating_footer {
    text-align: center;
}
#rating_content {
    margin: 20px;
}
#mark {
    margin: 40px;
    display: inline-block;
    width: 300px;
    text-align: right;
    position: relative;
    float: right;
}
.marker {
    display: inline-block;
    margin-left: 5px;
    background: transparent;
    background-image: -webkit-linear-gradient(#5d9297, #288697, #417297);
       background-image: -moz-linear-gradient(#5d9297, #288697, #447297);
         background-image: -o-linear-gradient(#5d9297, #288697, #447297);
    font-family: days;
    color: white;
    text-shadow: 0 0 10px black;
    border-radius: 20px;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    box-shadow: 1px 2px 5px black;
    width: 40px;
    line-height: 40px;
    text-align: center;
}
#mark .check {
    background: transparent;
    background-image: -webkit-linear-gradient(#fffd10, #ffeb2b, #ffe759);
       background-image: -moz-linear-gradient(#fffd10, #ffeb2b, #ffe759);
         background-image: -o-linear-gradient(#fffd10, #ffeb2b, #ffe759);
}
.marker.hover {
    background: transparent;
    background-image: -webkit-linear-gradient(#31d0ff, #65caff, #6794ff) !important;
    background-image: -moz-linear-gradient(#31d0ff, #65caff, #6794ff) !important;
    background-image: -o-linear-gradient(#31d0ff, #65caff, #6794ff) !important;
}
#mark .sender {
    display: none;
    text-decoration: none;
    padding: 10px 20px;
    margin: 20px;
    background: rgba(144, 144, 144, 1);
    box-shadow: 1px 2px 4px white;
    border-radius: 25px;
    color: white;
    text-shadow: 0 0 2px black;
    font-weight: bolder;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    width: 100px;
}
#mark .sender:hover {
    box-shadow: 1px 2px 16px rgba(50, 50, 255, 0.8);
    color: rgba(50, 50, 255, 0.8);
    text-shadow: 0 0 2px white;
    background: rgba(255, 255, 255, 0.7);
}
#mark>p {
    margin: 10px;
    font-size: 22px;
    font-style: italic;
    text-shadow: 2px 2px 6px white;
}
#mark .num, #mark .rat {
    font-family: days;
    color: #288697;
    font-size: 30px;
    font-style: italic;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5),
                 2px 2px 2px rgba(0, 0, 0, 0.5),
                 3px 3px 2px rgba(0, 0, 0, 0.5),
                 4px 4px 2px rgba(0, 0, 0, 0.5);
}
#rating_content {
    text-shadow: 1px 1px 2px grey;
    font-size: 20px;
}
#angular {
    font-family: cuprum;
    background-color: #ccc;
    color: #535353;
    font-size: 20px;
    margin: -10px;
    padding: 10px 0 20px 0;
}
#angular>h2 {
    text-align: center;
    font-size: 33px;
    font-style: normal;
    font-weight: normal;
}
#angular h4 {
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: normal;
    margin: 10px;
}
#angular img {
    padding: 5px 40px;
    width: calc(100% - 80px);
}
#angular ul {
    margin: 30px 50px;
    list-style: disc;
}
#angular a {
    color: #535353;
    text-shadow: none;
}
#angular h3 {
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    margin: 20px 0;
}
#angular p {
    padding: 0 40px;
    text-indent: 20px;
}
#ejs_logo {
    text-align: center;
    font-family: intro;
    font-size: 80px;
    text-shadow: 2px 2px 3px black;
}
#jade_logo, #ang_logo, #jquery_logo {
     text-align: center;
 }
#jade_logo img {
    width: 200px;
}
#jquery_logo img {
    width: 400px;
}
#ang_logo img {
    width: 450px;
}
.source {
    text-align: right;
    margin-right: 30px;
}
code {
    display: block;
    color: black;
    background-color: white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #333;
    padding: 10px 20px;
    margin: 20px auto;
    position: relative;
    width: 700px;
    box-shadow: 2px 2px 4px black;
    -moz-user-select: default;
    -khtml-user-select: default;
    user-select: default;
    -webkit-user-select: default;
}
code, code * {
    font-size: 18px;
    text-shadow: none !important;
    list-style: none;
    text-decoration: none;
}
code.bash {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: bold;
}
#main_page {
    margin: 5px 20px 0 20px;
}
#main_page h1, #main_page h2 {
    text-align: center;
    margin: 10px;
}
#main_page p {
    text-indent: 40px;
}